.navbar {
  background-color: var(--dark-grey);
  padding: 1.2rem 0;
}

.navbar_container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav h1 {
  margin: auto 0;
  color: var(--white);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.4rem;
  border: 2px solid var(--green);
  border-radius: 15px;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 830px) {
  nav h1 {
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem;
  }
}
@media screen and (max-width: 700px) {
  nav h1 {
    font-size: 1rem;
  }
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

.btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 2.3rem;
    font-size: 1.6rem;
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--green);
    border-radius: 10px;
  }
}
