.crew_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1150px) {
  .crew_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 870px) {
  .crew_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 530px) {
  .crew_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
