.home_container {
  padding: 2rem;
}

.home {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  border: 3px solid var(--dark-grey);
  text-align: center;
}

.home h1 {
  font-size: 2rem;
}

.home p {
  color: var(--dark-grey);
  margin-top: 2rem;
}
