.section {
  width: 100%;
  margin: 0 auto;
}

.section h1 {
  text-transform: uppercase;
  text-align: center;
}

.itemsContainer {
  display: grid;
  gap: 2rem;
  padding: 0 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
}

.action_container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin: 1.4rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
  border-radius: 30px;
  width: 150px;
  text-transform: capitalize;
  font-weight: bold;
  background-color: var(--white);
  box-shadow: var(--mediumShadow);
  transition: color 300ms ease, background-color 700ms ease;
}

.btn:hover {
  background-color: var(--green);
  outline: 1px solid var(--white);
  color: var(--white);
}

@media screen and (max-width: 576px) {
  .btn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0;
  }
}
